doctype html
html
    head
      // Required meta tags
      meta(charset='utf-8')
      meta(name='viewport', content='width=device-width',
           initial-scale='1', shrink-to-fit='no')
      
      link(rel="shortcut icon" href="./img/Auto+Body+&+Repair+Icon.ico")
      link(rel='stylesheet',
           href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T',
           crossorigin='anonymous')
    
      link(rel='stylesheet', href='style/main.css')
      title() Car Collection - Home

    body
        nav#navbar-scroll.navbar.navbar-dark.navbar-expand-md.position-absolute.text-white.w-100
          .container
            a.navbar-brand.text-white.m-2.m-md-0(href='#') Auto col
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#nav-toggler', aria-controls='nav-toggler', aria-expanded='false', aria-label='Toggle navigation')
              span.navbar-toggler-icon
            #nav-toggler.collapse.navbar-collapse
              ul.navbar-nav.nav-pills.nav-fill.ml-auto
                li.nav-item
                  a.nav-link.text-white.ml-1.pr-4.pl-4(href='#') Home
                li.nav-item
                  a.nav-link.text-white.ml-1.pr-4.pl-4(href='#') Cars listing
                li.nav-item
                  a.nav-link.text-white.ml-1.pr-4.pl-4(href='#') Contact
                

        section#intro.container-fluid.p-0.position-relative
            #intro-text.position-absolute.text-white.d-flex.justify-content-start.align-items-end.w-100.h-100
                    #intro-content.d-flex.justify-content-center.align-items-start.flex-column.m-5
                        h1 New collection car
                        h2 Now avalaible on website!
                        p.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam


        footer.container-fluid.d-table
          .container.d-table-cell.align-middle.text-center.text-white
            span#footer-text Auto col


        script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js',
           integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo',
           crossorigin='anonymous')

        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js',
               integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1',
               crossorigin='anonymous')

        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js',
               integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM',
               crossorigin='anonymous')
        
        script(src='{js/main.js}')