doctype html
html
    head
      // Required meta tags
      meta(charset='utf-8')
      meta(name='viewport', content='width=device-width',
           initial-scale='1', shrink-to-fit='no')
      
      link(rel="shortcut icon" href="./img/Auto+Body+&+Repair+Icon.ico")
      link(rel='stylesheet',
           href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T',
           crossorigin='anonymous')
    
      link(rel='stylesheet', href='style/main.css')
      title() Car Collection - Home

    body
      nav#navbar-scroll.navbar.navbar-dark.navbar-expand-md.position-absolute.text-white.w-100
        .container
          a.navbar-brand.text-white.m-2.m-md-0(href='#') Auto col
          button.navbar-toggler(type='button', data-toggle='collapse', data-target='#nav-toggler', aria-controls='nav-toggler', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
          #nav-toggler.collapse.navbar-collapse
            ul.navbar-nav.nav-pills.nav-fill.ml-auto
              li.nav-item
                a.nav-link.text-white.ml-1.pr-4.pl-4(href='index.html') Home
              li.nav-item
                a.nav-link.text-white.ml-1.pr-4.pl-4(href='listing.html') Cars listing
              li.nav-item
                a.nav-link.text-white.ml-1.pr-4.pl-4(href='#') Contact
          
      .d-flex.flex-column
        section#intro.container-fluid.p-0.position-relative
          #intro-text.position-absolute.text-white.d-flex.justify-content-start.align-items-end.h-100.row.m-0
              #intro-content.d-flex.justify-content-center.align-items-start.flex-column.m-5.col-12.p-0
                  h1 New collection car
                  h2 Now avalaible on website!
                  p.
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
        
          .row.m-0
            #carousel.carousel.slide.carousel-fade.w-100.h-100.col-12.p-0(data-ride='carousel')
              .carousel-inner
                .carousel-item.active
                        img.d-block.w-100(src='./img/vintage-cars-widescreen-wallpaper_054106726_44.jpg', alt='')
                .carousel-item
                        img.d-block.w-100(src='./img/volkswagen-beetle-vintage-photography-1.jpg', alt='')
                .carousel-item
                        img.d-block.w-100(src='./img/cadillac-eldorado-2005-wallpaper-8.jpg', alt='')
                .carousel-item
                        img.d-block.w-100(src='./img/158971-McLaren-car-MP4-12C.jpg', alt='')
                .carousel-item
                        img.d-block.w-100(src='./img/432373-Kycb_3840x2160.jpg', alt='')
    
      section#intro-hidden.text-white.p-2.h-25
        h1.text-center New collection car
        h2.text-center Now avalaible on website!
        p.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam

      section.container-fluid.pb-5
        .container
            .text-center.pt-5
                h1.text-white Most viewed car

            .row.d-flex.justify-content-around
                .card.col-md-5.p-0.mt-5.text-center
                  img.card-img-top(src='./img/card-1.jpg', alt='Card title')
                  .card-body.d-flex.flex-column.justify-content-between
                    h5.card-title Lorem ipsum
                    p.card-text.
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    a.btn.btn-secondary(href='car.html') See more

                .card.col-md-5.p-0.mt-5.text-center
                  img.card-img-top(src='./img/card-2.jpg', alt='Card title')
                  .card-body.d-flex.flex-column.justify-content-between
                    h5.card-title Lorem ipsum
                    p.card-text.
                      Praesent eget mattis massa. Nam vel porta dui. Mauris nunc leo, pretium vel convallis in, faucibus vitae risus. Cras semper aliquet arcu et laoreet. Morbi lobortis nunc sit amet rhoncus laoreet. Etiam nec turpis vitae urna gravida lacinia non in neque. Etiam posuere faucibus scelerisque. Nam nibh felis, ultricies finibus massa a, semper pulvinar justo.
                    a.btn.btn-secondary(href='#') See more

                .card.col-md-5.p-0.mt-5.text-center
                  img.card-img-top(src='./img/card-3.jpg', alt='Card title')
                  .card-body.d-flex.flex-column.justify-content-between
                    h5.card-title Lorem ipsum
                    p.card-text.
                      Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur leo orci, molestie non varius id, accumsan sed sem. Nulla eget sapien arcu. Curabitur quis posuere nunc, a dapibus sapien. Sed porta pulvinar convallis. Suspendisse commodo elit vitae nisl mattis tristique. Curabitur aliquam eleifend magna ut eleifend. Vivamus vitae turpis est. Pellentesque finibus, nunc et varius iaculis, nunc erat egestas felis, id faucibus nulla sem id diam. Proin lobortis, massa in molestie convallis, orci mauris suscipit orci, in pretium est lacus a enim. Vivamus in hendrerit elit.
                    a.btn.btn-secondary(href='#') See more

                .card.col-md-5.p-0.mt-5.text-center
                  img.card-img-top(src='./img/card-4.jpg', alt='Card title')
                  .card-body.d-flex.flex-column.justify-content-between
                    h5.card-title Lorem ipsum
                    p.card-text.
                      Nam eget scelerisque risus, ac rhoncus ligula. Integer auctor pretium facilisis. Nam placerat dui metus, vel pulvinar ipsum volutpat ut. Suspendisse quis nisl molestie tortor consequat scelerisque. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In vel quam nec sem pellentesque ullamcorper quis blandit elit. Curabitur congue semper nisl sed consectetur. Curabitur in est feugiat, condimentum elit id, volutpat orci. Nam viverra sit amet nisl eu semper. Quisque libero magna, accumsan nec velit et, aliquet sollicitudin dolor. Cras semper vel augue at dignissim.
                    a.btn.btn-secondary(href='#') See more
                      

      footer.container-fluid.d-table
        .container.d-table-cell.align-middle.text-center.text-white
          span#footer-text Auto col
      

      script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js',
             integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo',
             crossorigin='anonymous')

      script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js',
             integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1',
             crossorigin='anonymous')

      script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js',
             integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM',
             crossorigin='anonymous')
      
      script(src='{js/main.js}')